ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 14px 16px;
  overflow: hidden;
  background-color: rgb(148, 151, 154);
}

li {
  align-items: center;
}

li a {
  color: white;

  text-decoration: none;
}

.footer p {
  position: absolute;
  bottom: 0;
}
